fastapi
uvicorn
qdrant-client
langchain
langchain-community
langchain-huggingface
pydantic
python-multipart
python-dotenv
pandas
numpy
PyPDF2
python-docx
sqlalchemy
psycopg2-binary
passlib==1.7.4
bcrypt==3.2.2
python-jose[cryptography]
httpx
